html, body {
    font-family: 'Raleway', sans-serif;
    background-color: #EDF9F5;
}

.navcolor {
    font-size: 14px;
    color: #005E5D;
    cursor: pointer;
}

.navcolor:hover {
    color: #19A8A5;
    transition: all 0.5s;
}

.spacing {
    margin-left:2.7%;
}

.header {
    color: #DB5461;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #005E5D;
    padding-top: 10px;
}

.opacity {
    color: #19A8A5;
}

#details {
    color: #19A8A5;
}

.dropdowncolor {
    background-color: white;
    color:black;
    margin-right: 5%;
    margin-top: 4%;
}

.dropdowncolor:hover {
    color: #19A8A5;
}

.spacingtop{
    padding-top: 9%;
}

#aligntop {
    margin-top: 3.1%;
}

#alignopt {
    margin-top: 4%;
}

.optfont {
    font-size: 14px;
}

.submitbutton {
    background-color: #DB5461;
    color: white;
    font-size: 14px;
}

.submitbutton:hover {
    color: #953547;
}

#button {
    font-size: 14px;
}

#search {
    background-color: white;
    width: 98%;
    height: 390px;
    overflow-y: scroll;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 50px;
}

.aligntop {
    padding-top: 4%;
}

.spacingright {
    margin-right: 2%;
}

.size {
    margin-left: 5%;
    width: 100%;
    margin-top: -3%;
}

.column {
    width: 21.7%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 3%;
    display: inline-block;
    transition: all 0.5s;
}

.column:hover{
    transition: all 0.5s;
    background-color: white;
    transform: scale(1.1);
    text-decoration: none;
}

#boxcolumn {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 3% 6%;
    display: inline-block;
    text-align: center;
}

#imgsize {
    width: 75%;
}

#boxline {
    margin-left: 5%;
}

#boxtext{
    background-color: white;
    height: 11%;
    position: absolute;
    width: 80%;
    border-radius: 10px;
}

.imgicon {
    width: 6%;
    margin-right: 2%;
}

.formborder {
    border-radius: 3px;
    border: 1px solid lightgrey;
    height: 30px;
    margin-bottom: 5%;
    padding-left: 2.5%;
}

.editformicon {
    margin-right: 2%;
    width: 9%;
}

.editformborder {
    border-radius: 3px;
    border: 1px solid lightgrey;
    height: 30px;
    margin-bottom: 5%;
    width: 88%;
    padding-left: 4%;
}

@media (max-width: 480px) {
    .navcolor {
        text-align: center;
        width: 340px;
        font-size: 16px;
    }

    .column {
        display: block;
        width: 95%;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .navcolor {
        text-align: center;
        width: 480px;
        font-size: 16px;
    }

    .column {
        width: 46%;
    }
}
